body {
  background-color: #282c34;
  color: #fefcd7;
  font-family: "Open Sans", sans-serif;
}
.table {
  color: #fefcd7;
}
.App {
  /* text-align: center; */
  background-color: #282c34;
}

h1 {
  font-family: "Goblin One", cursive;
  padding: 3rem 0 1.5rem;
}

h3 {
  padding: 1.5rem 0 0.75rem;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
